<!DOCTYPE HTML>
<html lang="en">

<body>
    <div class="screen-overlay"></div>

    <section class="content-main">
        <div class="row">
            <form method="post" action="/admin/admin-addcoupoen" method="post"  >
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add coupons</h2>

                        <div>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">

                            <div class="mb-4">
                                <label for="" class="form-label">Coupen Code</label>
                                <input type="text" placeholder="Type here" name="code" class="form-control"
                                    id="">
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label">Coupen Name</label>
                                <input type="text" placeholder="Type here" name="name" class="form-control"
                                    id="">
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label">Coupen validity</label>
                                <input type="date" placeholder="Type here" name="validity" class="form-control"
                                    id="">
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label">Coupen max Discount</label>
                                <input type="text" placeholder="Type here" class="form-control" name="maxamound"
                                    id="">
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label">Coupen minimum purchase</label>
                                <input type="text" placeholder="Type here" class="form-control" name="minamound"
                                    id="">
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label">discound %</label>
                                <input type="text" placeholder="Type here" class="form-control" name="disperc"
                                    id="">
                            </div>


                        </div>
                    </div> 
                </div>
            </form>
        </div>
    </section> 



</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>